</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script> 
<script src="/js/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
<script src="/js/all.min.js" ></script>
<script src="/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>




<script src="/js/select-search.js"></script>



</body>
</html>