
      <% include ../partials/header %>
                <h4 class="float-left">Customers</h4>

                <a class="btn btn-info float-right" href="/customers/add" > Add New</a>
                <br>     <br>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
 </div> 
     
      <% include ../partials/footer %>